html
    head 
        style(type='text/css') table, th, td {border:1px solid black;} table {width:100%;} 
    body
        h1 You have no reservations with us, #{name}
        h2 Click here to make one! 
        button(onclick="window.location.href = '/'") Home
