html
    head 
    body 
        h1 Thank you for reserving a time with us!
        h2 Click here to make another reservation or look at other reservations you might have made 
        button(onclick = "window.location.href = '/'") Home
        